{% extends "base.html" %}

{% load socialaccount %}
{% load i18n %}
{% load upload_tags %}
{% block heading %}
{% if edit %}<b id="hardwarename">{{hardware.name}}</b> bearbeiten{% else %}Neue Hardware hinzufügen{% endif %}
{% endblock %}



{% block script %}
function checkStreet() {
	if ($("#id_city").val() || $("#id_postcode").val()) {
		$("#id_street").prop('disabled', false);
	} else {
		$("#id_street").val("");
		$("#id_street").prop('disabled', true);
	}
}


checkStreet()
$(function() {
	$("#id_city").keypress(function() {checkStreet()});
	$("#id_postcode").keypress(function() {checkStreet()});
	$("#id_city").change(function() {checkStreet()});
	$("#id_postcode").change(function() {checkStreet()});

	$( "#id_city" ).autocomplete({
		source: function( request, response ) {
			$.ajax({
				url: "http://ws.geonames.org/searchJSON",
				dataType: "jsonp",
				data: {
					featureClass: "P",
					style: "full",
					maxRows: 12,
					country: "DE",
					lang:"de",
					name_startsWith: request.term
				},
				success: function( data ) {
					response( $.map( data.geonames, function( item ) {
						return {
							label: item.name + (item.adminName1 ? ", " + item.adminName1 : ""),
							value: item.name,
							postcode: item.lat
						}
					}));
				}
			});
		},
		minLength: 2,
		select: function( event, ui ) {
			 checkStreet();
		},
		open: function() {
			$( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
		},
		close: function() {
			$( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
		}
	});
});
{% endblock %}

{% block content %}
<div class="span12">
{% if invalidmail %}
	<p>You need a confirmed email adress</p>
{% else %}
	{%if edit%}
	<form action="{% url hardware.views.hardwareEdit hardware.id %}" method="post" class="form-horizontal">{% csrf_token %}
	{% else %}
	<form action="{% url hardware.views.hardwareEdit %}" method="post" class="form-horizontal">{% csrf_token %}
	{%endif %}
		<div class="control-group {{form.name.css_classes}}">
			<label class="control-label" for="id_name">Name</label>
			<div class="controls">
				{{ form.name}}
				<span class="help-inline">{{form.name.errors}}</span>
			</div>
		</div>
		<div class="control-group {{form.description.css_classes}}">
			<label class="control-label" for="id_description">Beschreibung</label>
			<div class="controls">
				{{form.description}}
				<span class="help-inline">{{form.description.errors}}</span>
			</div>
		</div>
		<div class="control-group {{form.condition.css_classes}}">
			<label class="control-label" for="id_condition">Zustand</label>
			<div class="controls">
				{{form.condition}}
				<span class="help-inline">{{form.condition.errors}}</span>
			</div>
		</div>
		<div class="control-group {{form.category.css_classes}}">
			<label class="control-label" for="id_category">Kategorie</label>
			<div class="controls">
				{{form.category}}
				<span class="help-inline">{{form.category.errors}}</span>
			</div>
		</div>
		<div class="control-group {{form.state.css_classes}}">
			<label class="control-label" for="id_state">Art</label>
			<div class="controls">
				{{form.state}}
				<span class="help-inline">{{form.state.errors}}</span>
			</div>
		</div>
		<div class="control-group {{form.lendlength.css_classes}}" id="lendlength_tag">
			<label class="control-label" for="id_lendlength">Leihdauer</label>
			<div class="controls">
				{{form.lendlength}} {{form.lendlengthtype}}
				<span class="help-inline">{{form.lendlength.errors}}</span>
				<span class="help-inline">{{form.lendlengthtype.errors}}</span>
			</div>
		</div>
		<div class="control-group {{form.ownlocation.css_classes}}">
			<label class="control-label" for="id_ownlocation">Eigener Ort</label>
			<div class="controls">
				{{form.ownlocation}}
				<span class="help-inline">{{form.ownlocation.errors}}</span>
			</div>
		</div>
		<div id="locationform" style="display:none">
		<div class="control-group location {{form.city.css_classes}}">
			<label class="control-label" for="id_city">Stadt</label>
			<div class="controls">
				{{form.city}}
				<span class="help-inline">{{form.city.errors}}</span>
			</div>
		</div>
		<div class="control-group location {{form.postcode.css_classes}}">
			<label class="control-label" for="id_postcode">Postleitzahl</label>
			<div class="controls">
				{{form.postcode}}
				<span class="help-inline">{{form.postcode.errors}}</span>
			</div>
		</div>
		<div class="control-group location {{form.street.css_classes}}">
			<label class="control-label" for="id_street">Straße</label>
			<div class="controls">
				{{form.street}}
				<span class="help-inline">{{form.street.errors}}</span>
			</div>
		</div>
		</div>

	<input type="submit" value="{% if edit %}Bearbeiten{% else %}Einstellen{% endif %}" class="btn btn-primary" />
	</form>
	<script type="text/javascript">
	function toggleLendlength() {
		if($("#id_state").find("option:selected").attr("title") == "True") {
			$("#lendlength_tag").slideDown("fast");
		} else {
			$("#lendlength_tag").slideUp("fast");
		}
	}

	function toggleLocation() {
		if($("#id_ownlocation").attr('checked')) {
			$("#locationform").slideDown("fast");
		} else {
			$("#locationform").slideUp("fast");
		}
	}

	toggleLendlength();
	toggleLocation();

	$("#id_state").change(function() {
		toggleLendlength();
	});

	$("#id_ownlocation").change(function() {
		toggleLocation();
	});

	$("#id_name").keyup(function(event) {
		$("#hardwarename").html($("#id_name").val());
	});
	</script>
	<div class="container">
{% if edit %}
    <form id="fileupload" method="post" action="{% url fileupload.views.multiuploader %}" enctype="multipart/form-data">{% csrf_token %}
    	<input type="hidden" name="hardwareid" value="{{hardware.id}}" id="hardwareid">
        <div class="row fileupload-buttonbar">
            <div class="span7">
                <span class="btn btn-primary fileinput-button">
                    <i class="icon-plus icon-white"></i>
                    <span>Dateien hinzufügen…</span>
                    <input type="file" name="file" multiple>
                </span>
                <button type="submit" class="btn btn-success start">
                    <i class="icon-upload icon-white"></i>
                    <span>Upload beginnen</span>
                </button>
                <button type="reset" class="btn btn-warning cancel">
                    <i class="icon-ban-circle icon-white"></i>
                    <span>Upload abbrechen</span>
                </button>
                <button type="button" class="btn btn-danger delete">
                    <i class="icon-trash icon-white"></i>
                    <span>Dateien löschen</span>
                </button>
                <input type="checkbox" class="toggle">
            </div>
            <div class="span5 fileupload-progress fade">
                <div class="progress progress-success progres-striped active">
                    <div class="bar" style="width:0%"></div>
                </div>
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        <div class="fileupload-loading"></div>
        <table class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
    </form>
    <div class="fileupload-content">
        <table class="files"></table>
        <div class="fileupload-progressbar"></div>
    </div>
</div>
<!-- modal-gallery is the modal dialog used for the image gallery -->
<div id="modal-gallery" class="modal modal-gallery hide fade" data-filter=":odd">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body"><div class="modal-image"></div></div>
    <div class="modal-footer">
        <a class="btn modal-download" target="_blank">
            <i class="icon-download"></i>
            <span>Herunterladen</span>
        </a>
        <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000">
            <i class="icon-play icon-white"></i>
            <span>Slideshow</span>
        </a>
        <a class="btn btn-info modal-prev">
            <i class="icon-arrow-left icon-white"></i>
            <span>Vorheriges</span>
        </a>
        <a class="btn btn-primary modal-next">
            <span>Nächstes</span>
            <i class="icon-arrow-right icon-white"></i>
        </a>
    </div>
</div>
{% upload_js %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="/static/js/jquery.ui.widget.js"></script>
<script src="/static/js/tmpl.min.js"></script>
<script src="/static/js/load-image.min.js"></script>
<script src="/static/js/canvas-to-blob.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/bootstrap-image-gallery.min.js"></script>
<script src="/static/js/jquery.iframe-transport.js"></script>
<script src="/static/js/jquery.fileupload.js"></script>
<script src="/static/js/jquery.fileupload-fp.js"></script>
<script src="/static/js/jquery.fileupload-ui.js"></script>
<script src="/static/js/locale.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/csrf.js"></script>
{% endif %}
{% endif %}
</div>
{% endblock %}
