<span>Ergebnisse {{hardware.start_index}} bis {{ hardware.end_index}} von {{itemcount}}</span>
<table class="table table-bordered table-striped">
  <tr><th>Name</th><th>Typ</th><th>Zustand</th><th>Besitzer</th><th>Ort</th></tr>
{% for h in hardware %}
  <tr><td><a href="{% url hardware.views.displayHardware h.id h.name %}">{{h.name}}</a></td>
     <td><img src="{{h.category.icon}}" />{{h.category}}</td>
    <td>{{h.condition}}</td>
    <td>{{h.owner}}</td>
     <td>{{h.location.city}}</td></tr>
{% endfor %}
</table>
{% if searchquery == None %}
	{% include "hardware/pagination.html" %}
{% else %}
	{% include "hardware/searchpagination.html" %}
{% endif %}
