{% if hardware %}
<span>Ergebnisse {{hardware.start_index}} bis {{ hardware.end_index}} von {{itemcount}}</span>
<table class="table table-bordered table-striped">
  <tr><th>Name</th><th>Kategorie</th><th>Zustand</th><th>Besitzer</th><th>Ort</th></tr>

{% for h in hardware %}
  <tr><td><a href="{% url hardware.views.displayHardware h.id h.name %}">{{h.name}}</a></td>
     <td><img src="/images/{{h.category.icon}}" />{{h.category}}</td>
    <td>{{h.condition}}</td>
    <td><a href="{% url users.views.profile h.owner.id %}">{{h.owner.get_profile.displayname}}</a></td>
     <td>{{h.location.city}}</td><td>{{h.location.city}}</td></tr>
{% endfor %}
</table>
{% if searchquery == None %}
	{% include "hardware/pagination.html" %}
{% else %}
	{% include "hardware/searchpagination.html" %}
{% endif %}
{% else %}
<p>Es konnten keine Ergebnisse gefunden werden.</p>
{% endif %}