{% extends "base.html" %}

{% load socialaccount %}
{% load i18n %}

{% block heading %}
Add/Edit Hardware
{% endblock %}


{% block script %}

{% endblock %}

{% block content %}
{% if invalidmail %}
	<p>You need a confirmed email adress</p>
{% else %}
	{%if edit%}
	<form action="{% url hardware.views.hardwareEdit hardware.id %}" method="post" class="form-horizontal">{% csrf_token %}
	{% else %}
	<form action="{% url hardware.views.hardwareEdit %}" method="post" class="form-horizontal">{% csrf_token %}
	{%endif %}
		<div class="control-group">
			<label class="control-label" for="id_name">Name</label>
			<div class="controls">
				{{ form.name}}
				<span class="help-inline">{{form.name.errors}}</span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="id_description">Description</label>
			<div class="controls">
				{{form.description}}
				<span class="help-inline">{{form.description.errors}}</span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="id_condition">Condition</label>
			<div class="controls">
				{{form.condition}}
				<span class="help-inline">{{form.condition.errors}}</span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="id_category">Category</label>
			<div class="controls">
				{{form.category}}
				<span class="help-inline">{{form.category.errors}}</span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="id_state">State</label>
			<div class="controls">
				{{form.state}}
				<span class="help-inline">{{form.state.errors}}</span>
			</div>
		</div>
		<div class="control-group" id="lendlength_tag">
			<label class="control-label" for="id_lendlength">Lend Length</label>
			<div class="controls">
				{{form.lendlength}} {{form.lendlengthtype}}
				<span class="help-inline">{{form.lendlength.errors}}</span>
				<span class="help-inline">{{form.lendlengthtype.errors}}</span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="id_ownlocation">Own Location</label>
			<div class="controls">
				{{form.ownlocation}}
				<span class="help-inline">{{form.ownlocation.errors}}</span>
			</div>
		</div>
		<div class="control-group location" style="display:none">
			<label class="control-label" for="id_city">City</label>
			<div class="controls">
				{{form.city}}
				<span class="help-inline">{{form.city.errors}}</span>
			</div>
		</div>
		<div class="control-group location" style="display:none">
			<label class="control-label" for="id_postcode">Postcode</label>
			<div class="controls">
				{{form.postcode}}
				<span class="help-inline">{{form.postcode.errors}}</span>
			</div>
		</div>
		<div class="control-group location" style="display:none">
			<label class="control-label" for="id_street">Street</label>
			<div class="controls">
				{{form.street}}
				<span class="help-inline">{{form.street.errors}}</span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="id_image1">Image 1</label>
			<div class="controls">
				{{form.image1}}
				<span class="help-inline">{{form.image1.errors}}</span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="id_caption1">Caption 1</label>
			<div class="controls">
				{{form.caption1}}
				<span class="help-inline">{{form.caption1.errors}}</span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="id_image2">Image 2</label>
			<div class="controls">
				{{form.image2}}
				<span class="help-inline">{{form.image2.errors}}</span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="id_caption2">Caption 2</label>
			<div class="controls">
				{{form.caption2}}
				<span class="help-inline">{{form.caption2.errors}}</span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="id_image3">Image 3</label>
			<div class="controls">
				{{form.image3}}
				<span class="help-inline">{{form.image3.errors}}</span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="id_caption3">Caption 3</label>
			<div class="controls">
				{{form.caption3}}
				<span class="help-inline">{{form.caption3.errors}}</span>
			</div>
		</div>
	<input type="submit" value="Submit" class="btn btn-primary" />
	</form>
	<script type="text/javascript">
	function toggleLendlength() {
		if($("#id_state").find("option:selected").attr("title") == "temporary") {
			$("#lendlength_tag").slideDown("fast");
		} else {
			$("#lendlength_tag").slideUp("fast");
		}
	}

	toggleDuedate();

	$("#id_state").change(function() {
		toggleLendlength();
	});

	$("#id_ownlocation").change(function() {
		$(".location").slideToggle("fast");
	});
	</script>
{% endif %}
{% endblock %}
