{% extends "base.html" %}


{% block heading %}
{{userprofile.username}}
{% endblock %}


{% block content %}

<div class="span6 offset3">
		<form class="form-search">
  		<div class="input-append">
    		<p><input type="text" class="input-block-level search-query">
    		<button type="submit" class="btn">Suchen</button></p>
    	</div>
</div>

<div class="container">
<table class="table table-bordered table-striped">
	<tr><th>Name</th><th>Typ</th><th>Zustand</th><th>Besitzer</th><th>Ort</th></tr>
{% for h in hardware %}
	<tr><td><a href="{% url hardware.views.displayHardware h.id h.name %}">{{h.name}}</a></td>
		<td>{{h.category}}</td>
		<td>{{h.condition}}</td>
		<td>{{h.owner}}</td>
		<td>{{h.location}}</td></tr>
{% endfor %}
</table>
</div>

{% endblock %}
