{% extends "base.html" %}

{% load thumbnail %}
{% load gravatar %}
{% load l10n %}

{% block heading %}
{{hardware.name}}
{% endblock %}

{% if userprofile.get_profile.displayLocation or user.is_staff %}
{% block scriptimport %}
<link rel="stylesheet" href="/static/css/bootstrap-image-gallery.min.css">
<script src="/static/js/tmpl.min.js"></script>
<script src="/static/js/load-image.min.js"></script>
<script src="/static/js/bootstrap-image-gallery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script src="/static/js/gmaps.js"></script>
{% endblock %}
{% endif %}
{% block script %}
{% localize off %}
function openlightbox (url) {
	$('#lightboximage').attr("src", url)
	$('#Lightbox').lightbox();
}
{% if userprofile.get_profile.displayLocation or user.is_staff %}
var map;
$(document).ready(function(){
	map = new GMaps({
		div: '#map',
		lat: {{hardware.location.latitude}},
		lng: {{hardware.location.longitude}},
		mapTypeControl: false,
		streetViewControl: false,
		overviewMapControl: false,
		height: 300

	});

	map.addMarker({
		lat: {{hardware.location.latitude}},
		lng: {{hardware.location.longitude}}
	});
});
{% endif %}
function openlightbox (url) {
	$('#lightboximage').attr("src", url)
	$('#Lightbox').lightbox();
}
 {% endlocalize %}
{% endblock %}



{% block content %}
<div class="span4">

<div id="myCarousel" class="carousel slide" data-interval="20000">
  <!-- Carousel items -->
  <div class="carousel-inner" data-toggle="modal-gallery" data-target="#modal-gallery">
{% for image in images %}
    <div class="{% if forloop.first %}active {% endif %}item"><a href="/images/{{image.image}}" title="{{image.caption}}" rel="gallery"><div class="wrapper"><img src="/images/{{image.image}}"class="img" />	    
    <div class='description'>  
        <!-- description content -->  
        <p class='description_content'>{{image.caption}}</p>  
        <!-- end description content -->  
    </div></a></div></div>
{% endfor %}
  </div>

  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
<div class="lightbox fade" id="Lightbox" style="display: none;">
			    <div class='lightbox-content'>
			    <img class="img-polaroid" id="lightboximage">
			    </div>
			    </div>
</div>
<div class="span6">
  <p class="well" style="font-size: 15px;font-weight: 200;line-height: 20px;">{{hardware.description}}</p>
	  	<h4>Details</h4>
		<table class="table table-condensed">
			<tr><th>Zustand</th><td>{{hardware.condition}}</td><tr>
			<tr><th>Art</th><td>{{hardware.state}}</td><tr>
            <tr><th>Gerätetyp</th><td><img src="/images/{{hardware.category.icon}}" />{{hardware.category}}</td><tr>
			<tr><th>Verfügbarkeit</th><td>{% if hardware.availability %}
<span class="badge badge-success"><i class="icon-ok-sign icon-white"></i></span>
{% else %}
<span class="badge badge-important"><i class="icon-remove-sign icon-white"></i></span>
{% endif %}</td></tr>
			<tr><th>Verliehen an</th><td>{{hardware.lent_to}}</td><tr>
			{% if distance %}
			<tr><th>Entfernung</th><td>{{distance}}</td><tr>
			{% endif%}
		</table>

			<!--p>City: {{hardware.location.city}}</p-->
			<!--p>Postcode: {{hardware.location.postcode}}</p-->
			<!--p>Street: {{hardware.location.street}}</p-->
		
			{% if showmap %}
				<h4>Karte</h4>
				<div id="map" style="height: 300px"></div>
				 <script type="text/javascript">

  </script>
			{% endif %}
</div>

{% if user.is_authenticated %}
<div class="span2">
	{% if user != hardware.owner %}
	<h4 style="margin-left:4px">Eintrag von <a href="{% url users.views.profile hardware.owner.id %}">{{hardware.owner.get_profile.displayname }}</a></h4>
	{% if hardware.owner.get_profile.mail_confirmed %}
	    	<img src="{% gravatar_url hardware.owner.email 200 %}" class="img-polaroid"style="margin-bottom:6px">
	    	{% else %}
	    	<img src="{% gravatar_url "" 200 %}" class="img-polaroid" style="margin-bottom:6px">
	    	{% endif %}
	<a class="btn btn-success btn-block" href="{% url hardware.views.sendMail hardware.id %}" style="margin:4px"><i class="icon-envelope icon-white"></i> Kontakt aufnehmen</a>
	<a class="btn btn-danger btn-block" href="#abuseModal" role="button" data-toggle="modal" style="margin:4px"><i class="icon-ban-circle icon-white"></i> Missbrauch melden</a>
	{% else %}
	<h4 style="margin-left:4px">Ohai, it's you :)</h4>
	{% if hardware.owner.get_profile.mail_confirmed %}
	    	<img src="{% gravatar_url hardware.owner.email 200 %}" class="img-polaroid"style="margin-bottom:6px">
	{% else %}
	    	<img src="{% gravatar_url "" 200 %}" class="img-polaroid"style="margin-bottom:6px">
	{% endif %}
	<a class="btn btn-primary btn-block" href="{% url hardware.views.hardwareEdit hardware.id %}" style="margin:4px"><i class="icon-edit icon-white"></i> Eintrag bearbeiten</a>
	{% if hardware.state.temporary and hardware.availability %}
	<a class="btn btn-block" href="#lendModal" role="button" data-toggle="modal" style="margin:4px"><i class="icon-ok"></i> Eintrag verleihen</a>
	{% elif hardware.state.temporary %}
	<a class="btn btn-block" href="#takebackModal" role="button" data-toggle="modal" style="margin:4px"><i class="icon-ok"></i> Eintrag zurücknehmen</a>
	{% endif %}
	<a href="#deleteModal" role="button" class="btn btn-danger btn-block" data-toggle="modal" style="margin:4px"><i class="icon-trash icon-white"></i> Eintrag löschen</a>
<!-- Modal -->
<div id="deleteModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h3 id="deleteModalLabel">Wirklich löschen?</h3>
</div>
<div class="modal-body">
<p>Möchtest du die Hardware wirklich löschen? Dieser Schritt kann nicht rückgängig gemacht werden.</p>
</div>
<div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Abbrechen</a>
    <a class="btn btn-danger" href="{% url hardware.views.deleteHardware hardware.id %}">Löschen</a>
</div>
</div>

<div id="lendModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="lendModalLabel" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h3 id="lendModalLabel">An wen soll der Eintrag verliehen werden?</h3>
</div>
<form action="{% url hardware.views.giveaway %}" method="post" class="form-inline">{% csrf_token %}
<div class="modal-body">
	<p>Gib bitte den Benutzernamen des/der Benutzers/Benutzerin an, an den/die du den Eintrag verleihen möchtest. Falls die Person dir bereits eine Kontaktmail geschickt hat, taucht der Name im Autocomplete auf.</p>
		<div class="control-group {{form.username.css_classes}}">
		<div class="controls">
			<input id="id_username" type="text" name="username" maxlength="200"  class="typeahead input-block-level" data-provide="typeahead" data-source="['test', 'test2']"/>
		<span class="help-inline">{{form.username.errors}}</span>
		</div>
		</div>
</div>
<div class="modal-footer">
<input type="hidden" name="hardware" value="{{hardware.id}}">
    <a href="#" class="btn" data-dismiss="modal">Abbrechen</a>
    <button type="submit" class="btn btn-primary">Verleihen</button>
</div>
</form>
<script type="text/javascript">
$("#id_username").keypress( function() {
	if ($(this).val().length >= 2) {
		Dajaxice.users.get_users_to_lend(Dajax.process, {'query':$(this).val()});
	}
});
</script>
</div>

<div id="takebackModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="takebackModalLabel" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h3 id="deleteModalLabel">Hardware zurücknehmen?</h3>
</div>
<div class="modal-body">
<p>Die Hardware ist wieder sicher bei dir angekommen und du möchtest sie wieder für andere verfügbar machen?</p>
</div>
<div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Abbrechen</a>
    <a class="btn btn-danger" href="{% url hardware.views.takeback hardware.id %}">Zurück nehmen</a>
</div>
</div>



	{% endif %}
<div id="abuseModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="abuseModalLabel" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h3 id="abuseModalLabel">Missbrauch melden</h3>
</div>
<form action="{% url main.views.hardwareAbuse %}" method="post" class="form-inline">{% csrf_token %}
<div class="modal-body">
	<p>Gib bitte eine Begründung an, warum du einen Missbrauch vermutest.</p>
		<div class="control-group">
			<label class="control-label" for="id_caption3">Beschreibung</label>
			<div class="controls">
				<textarea rows="4"  class="input-block-level" id="id_description" name="description"></textarea>
			</div>
		</div>
</div>
<div class="modal-footer">
<input type="hidden" name="object" value="{{hardware.id}}">
    <a href="#" class="btn" data-dismiss="modal">Abbrechen</a>
    <button type="submit" class="btn btn-primary">Abschicken</button>
</div>
</form>
</div>

{% endif %}

<div id="modal-gallery" class="modal modal-gallery hide fade" data-filter=":odd">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body"><div class="modal-image"></div></div>
    <div class="modal-footer">
        <a class="btn modal-download" target="_blank">
            <i class="icon-download"></i>
            <span>Herunterladen</span>
        </a>
        <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000">
            <i class="icon-play icon-white"></i>
            <span>Slideshow</span>
        </a>
        <a class="btn btn-info modal-prev">
            <i class="icon-arrow-left icon-white"></i>
            <span>Vorheriges</span>
        </a>
        <a class="btn btn-primary modal-next">
            <span>Nächstes</span>
            <i class="icon-arrow-right icon-white"></i>
        </a>
    </div>
</div>
</div>
{% endblock %}
