{% extends "base.html" %}

{% load thumbnail %}
{% block heading %}
{{hardware.name}}
{% endblock %}


{% block content %}

<hr>

<div class="span3">

<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item"><p><img src="http://placekitten.com/g/300/400" class="img"></p><p>Bildunterschriftchen</p></div>
    <div class="item"><p><img src="http://placekitten.com/300/400" class="img"></p><p>Bildunterschrift</p></div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

</div>

<div class="span6">
  <p class="lead well">{{hardware.description}}</p>
	<div class="row">
	  <div class="span3">
	  	<h4>Details</h4>
		<table class="table table-condensed">
			<tr><th>Zustand</th><td>{{hardware.condition}}</td><tr>
			<tr><th>Art</th><td>{{hardware.state}}</td><tr>
			<tr><th>Gerätetyp</th><td>{{hardware.category}}</td><tr>
			<tr><th>Verfügbarkeit</th><td>{{hardware.availability}}</td></tr>
			<tr><th>Verliehen an</th><td>{{hardware.lent_to}}</td><tr>
			{% if distance %}
			<tr><th>Entfernung</th><td>{{distance}}</td><tr>
			{% endif%}
		</table>

			<!--p>City: {{hardware.location.city}}</p-->
			<!--p>Postcode: {{hardware.location.postcode}}</p-->
			<!--p>Street: {{hardware.location.street}}</p-->
		</div>
		<div class="span3">
			{% if showmap %}
				<h4>Karte</h4>
				<p>{{ map.map }}</p>
			{% endif %}
		</div>
	</div>
</div>

{% if user.is_authenticated %}
<div class="span2">
	{% if user != hardware.owner %}
	<h4>Eintrag von {{hardware.owner}}</h4>
	{% if hardware.owner.get_profile.avatar != None %}<p>
	    	{% thumbnail hardware.owner.get_profile.avatar "300x300" crop="center" as im %}
		    <img src="{{ im.url }}" class="img-polaroid">
		{% endthumbnail %}</p>
	{% endif %}
	<p><a class="btn btn-success btn-block" href="{% url hardware.views.sendMail hardware.id %}"><i class="icon-envelope icon-white"></i> Kontakt aufnehmen</a></p>
	<p><a class="btn btn-danger btn-block" href="{% url hardware.views.sendMail hardware.id %}"><i class="icon-ban-circle icon-white"></i> Problem melden</a></p>
	{% endif %}
	{% if hardware.owner == user %}
	<h4>Ohai, it's you :)</h4>
	{% if user.get_profile.avatar != None %}<p>
	    	{% thumbnail user.get_profile.avatar "300x300" crop="center" as im %}
		    <img src="{{ im.url }}" class="img-polaroid">
		{% endthumbnail %}</p>
		{% endif %}
	<p><a class="btn btn-primary btn-block" href="{% url hardware.views.hardwareEdit hardware.id %}"><i class="icon-edit icon-white"></i> Eintrag bearbeiten</a></p>
	<p><a class="btn btn-danger btn-block" href="{% url hardware.views.deleteHardware hardware.id %}"><i class="icon-trash icon-white"></i> Eintrag löschen</a></p>
	{% endif %}
{% endif %}
</div>
{% endblock %}
