{% extends "base.html" %}

{% load thumbnail %}
{% block heading %}
{{hardware.name}}
{% endblock %}

{% block script %}
function openlightbox (url) {
	$('#lightboximage').attr("src", url)
	$('#Lightbox').lightbox();
}
{% endblock %}

{% block content %}

<hr>

<div class="span3">

<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item"><div class="wrapper"><a  href="javascript:openlightbox('http://placekitten.com/g/300/400')"class="lightboxbutton"><img src="http://placekitten.com/g/300/400" class="img">
			    
    <div class='description'>  
        <!-- description content -->  
        <p class='description_content'>Bildunterschrift 1</p>  
        <!-- end description content -->  
    </div></a></div></div>
    <div class="item"><div class="wrapper"><a href="javascript:openlightbox('http://placekitten.com/300/400')" class="lightboxbutton"><img src="http://placekitten.com/300/400" class="img">
    	<div class='description'>  
        <!-- description content -->  
        <p class='description_content'>Bildunterschrift 2</p>  
        <!-- end description content -->  
    </div></a></div> </div>
  </div>

  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
<div class="lightbox fade" id="Lightbox" style="display: none;">
			    <div class='lightbox-content'>
			    <img class="img-polaroid" id="lightboximage">
			    </div>
			    </div>
</div>
<div class="span6">
  <p class="well" style="font-size: 15px;font-weight: 200;line-height: 20px;">{{hardware.description}}</p>
	<div class="row">
	  <div class="span5">
	  	<h4>Details</h4>
		<table class="table table-condensed">
			<tr><th>Zustand</th><td>{{hardware.condition}}</td><tr>
			<tr><th>Art</th><td>{{hardware.state}}</td><tr>
			<tr><th>Gerätetyp</th><td>{{hardware.category}}</td><tr>
			<tr><th>Verfügbarkeit</th><td>{{hardware.availability}}</td></tr>
			<tr><th>Verliehen an</th><td>{{hardware.lent_to}}</td><tr>
			{% if distance %}
			<tr><th>Entfernung</th><td>{{distance}}</td><tr>
			{% endif%}
		</table>

			<!--p>City: {{hardware.location.city}}</p-->
			<!--p>Postcode: {{hardware.location.postcode}}</p-->
			<!--p>Street: {{hardware.location.street}}</p-->
		</div>
		
	</div>
	<div class="row">
		<div class="span5">
			{% if showmap %}
				<h4>Karte</h4>
				{{ map.map }}
				{{ map.media.js }}
			{% endif %}
		</div>
	</div>
</div>

{% if user.is_authenticated %}
<div class="span2">
	{% if user != hardware.owner %}
	<h4>Eintrag von <a href="{% url users.views.profile hardware.owner %}">{{hardware.owner.get_profile.displayname }}</a></h4>
	{% if hardware.owner.get_profile.avatar != None %}<p>
	    	{% thumbnail hardware.owner.get_profile.avatar "200x200" crop="center" as im %}
		    <img src="{{ im.url }}" class="img-polaroid">
		{% endthumbnail %}</p>
	{% endif %}
	<a class="btn btn-success btn-block" href="{% url hardware.views.sendMail hardware.id %}"><i class="icon-envelope icon-white"></i> Kontakt aufnehmen</a>
	<a class="btn btn-danger btn-block" href="{% url hardware.views.sendMail hardware.id %}"><i class="icon-ban-circle icon-white"></i> Problem melden</a>
	{% else %}
	<h4>Ohai, it's you :)</h4>
	{% if user.get_profile.avatar != None %}
	    	{% thumbnail user.get_profile.avatar "200x200" crop="center" as im %}
		    <img src="{{ im.url }}" class="img-polaroid">
		{% endthumbnail %}
	{% endif %}
	<div style="padding-top:10px;">
	<a class="btn btn-primary btn-block" href="{% url hardware.views.hardwareEdit hardware.id %}"><i class="icon-edit icon-white"></i> Eintrag bearbeiten</a>
	{% if hardware.state.temporary and hardware.availability %}
	<a class="btn btn-block" href="#lendModal" role="button" data-toggle="modal"><i class="icon-ok"></i> Eintrag verleihen</a>
	{% elif hardware.state.temporary %}
	<a class="btn btn-block" href="#takebackModal" role="button" data-toggle="modal"><i class="icon-ok"></i> Eintrag zurücknehmen</a>
	{% endif %}
	<a href="#deleteModal" role="button" class="btn btn-danger btn-block" data-toggle="modal"><i class="icon-trash icon-white"></i> Eintrag löschen</a></div>
<!-- Modal -->
<div id="deleteModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h3 id="deleteModalLabel">Wirklich löschen?</h3>
</div>
<div class="modal-body">
<p>Möchtest du die Hardware wirklich löschen? Dieser Schritt kann nicht rückgängig gemacht werden.</p>
</div>
<div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Abbrechen</a>
    <a class="btn btn-danger" href="{% url hardware.views.deleteHardware hardware.id %}">Löschen</a>
</div>
</div>

<div id="lendModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="lendModalLabel" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h3 id="lendModalLabel">An wen soll der Eintrag verliehen werden?</h3>
</div>
<form action="{% url hardware.views.giveaway %}" method="post" class="form-inline">{% csrf_token %}
<div class="modal-body">
	<p>Gib bitte den Benutzernamen des/der Benutzers/Benutzerin an, an den/die du den Eintrag verleihen möchtest. Falls die Person dir bereits eine Kontaktmail geschickt hat, taucht der Name im Autocomplete auf.</p>
		<div class="control-group {{form.username.css_classes}}">
		<div class="controls">
			<input id="id_username" type="text" name="username" maxlength="200"  class="typeahead" data-provide="typeahead" data-source="['test', 'test2']"/>
		<span class="help-inline">{{form.username.errors}}</span>
		</div>
		</div>
</div>
<div class="modal-footer">
<input type="hidden" name="hardware" value="{{hardware.id}}">
    <a href="#" class="btn" data-dismiss="modal">Abbrechen</a>
    <button type="submit" class="btn btn-primary">Verleihen</button>
</div>
</form>
<script type="text/javascript">
$("#id_username").keypress( function() {
	if ($(this).val().length >= 2) {
		Dajaxice.users.get_users_to_lend(Dajax.process, {'query':$(this).val()});
	}
});
</script>
</div>

<div id="takebackModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="takebackModalLabel" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h3 id="deleteModalLabel">Hardware zurücknehmen?</h3>
</div>
<div class="modal-body">
<p>Die Hardware ist wieder sicher bei dir angekommen und du möchtest sie wieder für andere verfügbar machen?</p>
</div>
<div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Abbrechen</a>
    <a class="btn btn-danger" href="{% url hardware.views.takeback hardware.id %}">Zurück nehmen</a>
</div>
</div>

	{% endif %}
{% endif %}
</div>
{% endblock %}
