<div class="pagination" id="pagination">
  <ul>
        {% if hardware.has_previous %}
        {% if ready_to_use %}
            <li><a href="{% url hardware.views.listHardware hardware.previous_page_number  %}" class="paginationlink">«</a></li>
            {% else %}
            <li><a href="{% url hardware.views.listComponents hardware.previous_page_number  %}" class="paginationlink">«</a></li>
            {% endif %}
        {% else %}
          <li class="disabled"><a href="#">«</a></li>
        {% endif %}
                {% for i in pagelist %}
                {% ifequal i hardware.number %}
                    <li class="active"><a href="#" >{{i}}</a></li>
                {% else %}
                {% if ready_to_use %}
                    <li><a href="{% url hardware.views.listHardware i  %}" class="paginationlink">{{i}}</a></li>
                    {% else %}
                      <li><a href="{% url hardware.views.listComponents i  %}" class="paginationlink">{{i}}</a></li>
                    {% endif %}
                {% endifequal %}
            {% endfor %}
        {% if hardware.has_next %}
        {% if ready_to_use %}
            <li><a href="{% url hardware.views.listHardware hardware.next_page_number  %}" class="paginationlink">»</a></li>
            {% else %}
             <li><a href="{% url hardware.views.listComponents hardware.next_page_number  %}" class="paginationlink">»</a></li>
           {% endif %}
            {% else %}
          <li class="disabled"><a href="#">»</a></li>
        {% endif %}
  </ul>
</div>