<div class="pagination" id="pagination">
  <script src="/static/path.min.js" type="text/javascript"></script>
  <script type="text/javascript">
Path.map("/hardware/list/:page").to(function(){
    Dajaxice.hardware.listPagination(Dajax.process,{'p':this.params['page']})
});

        $(document).ready(function(){
            Path.history.listen();

            $(".paginationlink").click(function(event){
                event.preventDefault();
                Path.history.pushState({}, "", $(this).attr("href"));
            });
        });
    
    </script>
  <ul>
        {% if hardware.has_previous %}
            <li><a href="{% url hardware.views.listAll hardware.previous_page_number  %}" class="paginationlink">«</a></li>
        {% else %}
          <li class="disabled"><a href="#">«</a></li>
        {% endif %}
                {% for i in pagelist %}
                {% ifequal i hardware.number %}
                    <li class="active"><a href="#" >{{i}}</a></li>
                {% else %}
                    <li><a href="{% url hardware.views.listAll i  %}" class="paginationlink">{{i}}</a></li>
                {% endifequal %}
            {% endfor %}
        {% if hardware.has_next %}
            <li><a href="{% url hardware.views.listAll hardware.next_page_number  %}" class="paginationlink">»</a></li>
            {% else %}
          <li class="disabled"><a href="#">»</a></li>
        {% endif %}
  </ul>
</div>