<div class="pagination">
  <ul>
        {% if hardware.has_previous %}
            <li><a href="#pagination" onclick="Dajaxice.hardware.searchPagination(Dajax.process,{'p':{{ hardware.previous_page_number }}, 'searchquery':'{{searchquery}}'});$.scrollTo( $('#pagination'), 500, {offset:-10} );">«</a></li>
        {% else %}
          <li class="disabled"><a href="#">«</a></li>
        {% endif %}
                {% for i in pagelist %}
                {% ifequal i hardware.number %}
                    <li class="active"><a href="#" >{{i}}</a></li>
                {% else %}
                    <li><a href="#pagination" onclick="Dajaxice.hardware.searchPagination(Dajax.process,{'p':{{ i }}, 'searchquery':'{{searchquery}}'});$.scrollTo( $('#pagination'), 500, {offset:-10} );">{{i}}</a></li>
                {% endifequal %}
            {% endfor %}
        {% if hardware.has_next %}
            <li><a href="#pagination" onclick="Dajaxice.hardware.searchPagination(Dajax.process,{'p':{{ hardware.next_page_number }}, 'searchquery':'{{searchquery}}'});$.scrollTo( $('#pagination'), 500, {offset:-10} );">»</a></li>
            {% else %}
          <li class="disabled"><a href="#">»</a></li>
        {% endif %}
  </ul>
</div>