{% extends "base.html" %}

{% load socialaccount %}
{% load i18n %}

{% block heading %}
Besitzer per Email kontaktieren
{% endblock %}

{% block content %}


<div class="span12">
{% if invalidmail %}
	<p>Bitte überprüfe deine Emails.</p>
{% elif ownhardware %}
	<p>Du kannst dich nicht selbst kontaktieren!</p>
{% else %}
<div class="alert alert-block">
  <h4>Achtung!</h4>
  Um dich leichter Identifizieren zu können, wird die E-Mail, die an den Hardwarebesitzer verschickt wird, die folgenden Informationen beinhalten:
<ul>
	<li>Deine E-Mailadresse, die du in den Einstellungen angegeben hast.</li>
	<li>Ein Link zu deinem Profil bei "Hardware für Alle".</li>
	<li>Links zu deinen Profilen bei den sozialen Netzwerken, die du in den Einstellungen verknüpft hast.</li>
</ul>
</div>
<form action="{% url hardware.views.sendMail hardware.id %}" method="post" class="form-horizontal">{% csrf_token %}
	<div class="control-group">
		<label class="control-label" for="id_text">Text</label>
		<div class="controls">
			{{ form.text}}
			<span class="help-inline">{{form.text.errors}}</span>
		</div>
	</div>
<a href="{% url hardware.views.displayHardware hardware.id hardare.slug %}"  class="btn btn-normal">Abbrechen</a>
<input type="submit" value="Submit" class="btn btn-primary" />
</form>
{% endif %}
</div>
{% endblock %}
