{% load socialaccount %}{% load account %}{% load i18n %}{% load dajaxice_templatetags %}<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8" />
	<title>Hardware für Alle</title>
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/css/main.css" rel="stylesheet">
	<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/css/bootstrap-image-gallery.min.css">
	<link rel="stylesheet" href="/static/css/jquery.fileupload-ui.css">
	<link rel="stylesheet" href="/static/css/jquery-ui-1.8.16.custom.css">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
	<script src="/static/js/jquery.scrollTo.min.js"></script>
	<script src="/static/js/bootstrap.js"></script>
	{% block scriptimport %}{% endblock %}
	{% dajaxice_js_import %}

    <script type="text/javascript" src="/static/dajax/jquery.dajax.core.js"></script>

<script type="text/javascript">
{% block script %}{% endblock %}
</script>
</head>
<body>
	<div class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="{% url main.views.home %}">Hardware für Alle! (Beta)</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<!--li class="active"><a href="{% url main.views.home %}">Home</a></li-->
						<li><a href="{% url hardware.views.searchHardware %}"><i class="icon-search icon-white"></i> Suche</a></li>
						<li class="divider-vertical"></li>
						<li><a href="{% url hardware.views.listHardware %}"><i class="icon-list icon-white"></i> Hardware</a></li>
						<li><a href="{% url hardware.views.listComponents %}"><i class="icon-list icon-white"></i> Einzelteile</a></li>
                                                                             <li><a href="{% url hardware.views.history %}"><i class="icon-list icon-white"></i> Historie</a></li>
						{% if user.is_authenticated %}<li class="divider-vertical"></li>
						<li><a href="{% url hardware.views.hardwareEdit %}"><i class="icon-edit icon-white"></i> hinzufügen</a></li>
						{% endif %}
					</ul>
					<!--form class="navbar-form pull-right">
						<div class="input-append">
							<input class="span2" id="appendedInputButtons" size="16" type="text"><button class="btn" type="button">Search</button>
						</div>
					</form-->


<ul class="nav pull-right">
{% if user.is_authenticated %}
  <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">{{ user.get_profile.displayname }}<b class="caret"></b></a>
  <ul class="dropdown-menu">
	<li><a href="{% url users.views.profile user.id %}"><i class="icon-user"></i> Profil</a></li>
	<li><a href="{% url users.views.settings %}"><i class="icon-pencil"></i> Einstellungen</a></li>
    <li class="divider"></li>
    	{% if user.is_staff %}
    	<li><a href="{% url admin:index %}"><i class="icon-lock"></i> Admin</a></li>
    	{% endif %}
	<li><a href="{% url allauth.account.views.logout %}"><i class="icon-off"></i> Abmelden</a></li>
  </ul>
</li>
{% endif %}
{% if not user.is_authenticated %}
  	<a href="{% url users.views.login %}"><button class="btn btn-primary">Anmelden</button></a>
{% endif %}
</ul>
</div><!--/.nav-collapse -->


			</div>
		</div>
	</div>
	<div class="container">
	{% if messages %}
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{message.tags}}{% endif %}">
			<button type="button" class="close" data-dismiss="alert">×</button>
			{{message|safe }}
		</div>
    {% endfor %}
{% endif %}
<div class="pull-right">{% block headinginfo %}{% endblock %}</div>
	<h1>{% block heading %}{% endblock %}</h1>

	<hr>
	<div class="row">
	{% block content %}{% endblock %}
</div>
	{% if hfadebug != none %}
		<p>{{hfadebug}}</p>
	{% endif %}

	</div> <!-- /container -->

	<hr>

	<footer>
      <div class="container">
      	<p class="pull-right"><a href="https://twitter.com/hardwarefuralle">Twitter</a> &middot; <a href="https://fb.com/hardwarefueralle">Facebook</a> &middot; <a href="https://plus.google.com/111494245058001271024/posts">Google+</a></p>
      	<p><a href="http://blog.hardware-fuer-alle.de/?page_id=97">Kontakt</a> &middot; <a href="http://public.hardware-fuer-alle.de">Presse</a> &middot; <a href="http://blog.hardware-fuer-alle.de">Blog</a> &middot; <a href="https://github.com/vIiRuS/hardware-fuer-alle">GitHub</a></p>
      </div>
	</footer>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37355730-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
