{% load socialaccount %}
{% load account %}
{% load i18n %}
<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8" />
	<title>Hardware für Alle</title>
	<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="/static/main.css" rel="stylesheet">
	<link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% block script %}{% endblock %}
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="{% url main.views.home %}">Hardware für Alle</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class="active"><a href="{% url main.views.home %}">Home</a></li>
						{% if user.is_authenticated %}
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								{% user_display user %}
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a href="{% url users.views.profile user.id user.username %}">Profile</a></li>
								<li><a href="{% url users.views.settings %}">Settings</a></li>
								<li><a href="{% url allauth.account.views.logout %}">Logout</a></li>
							</ul>
						</li>
						{% endif %}
						<li><a href="{% url hardware.views.listAll %}">Hardware</a></li>
						{% if user.is_authenticated %}
							<li><a href="{% url hardware.views.hardwareEdit %}">add hardware</a></li>
						{% endif %}
					</ul>
					<form class="navbar-form pull-right">
						<div class="input-append">
							<input class="span2" id="appendedInputButtons" size="16" type="text"><button class="btn" type="button">Search</button>
						</div>
					</form>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</div>

	<div class="container">
	{% for errormessage in hfaerrors %}
		<div class="alert alert-error">
			{{errormessage}}
		</div>
	{% endfor %}
	<h1>{% block heading %}{% endblock %}</h1>
	{% block content %}{% endblock %}
	{% if hfadebug != none %}
		<p>{{hfadebug}}</p>
	{% endif %}
	</div> <!-- /container -->
	<footer class="footer">
		<div class="container">
			<p class="pull-right"><a href="#">Back to top</a></p>
		</div>
	</footer>
	<!-- Le javascript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
	<script src="/static/bootstrap/js/jquery.js"></script>
	<script src="/static/bootstrap/js/bootstrap.js"></script>
</body>
</html>