{% extends "base.html" %}

{% load socialaccount %}
{% load i18n %}

{% block heading %}
Willkommen
{% endblock %}


{% block content %}
<div class="span12">
<div class="featurette">
    <img class="featurette-image pull-right" src="/files/hardware-logo.png">
    <h2 class="featurette-heading"><span class="muted">Bedingungslos gescheite </span>Hardware für Alle!</h2>
    <p class="lead">Das Internet ist nicht nur ein Stück bequeme Technologie, es ist ein zentraler Bestandteil unseres Lebens. Es bietet jedem die Möglichkeit zur Teilhabe - erfordert dafür aber einen eigenen Computer. Nicht jeder kann sich ein eigenes Notebook oder ein eigenes Smartphone leisten, während bei anderen Vorgängermodelle unbenutzt im Schrank liegen. Warum damit nicht einander helfen? Wenn du einen Computer hast, der noch funktioniert, das du selbst nicht mehr benutzt und du bereit bist ihn kostenlos weiterzugeben oder gerade selbst dringend ein Gerät benötigst, melde dich einfach mit deinem Twitter-, Facebook-, Google- oder GitHub-Konto an, trag Geräte ein oder nehme mit einem Klick Kontakt mit einem Anbieter auf. Das ganze kostet nichts - Hardware für Alle ist keine Kleinanzeigenbörse, sondern eine Plattform, die Menschen dabei helfen soll, sich gegenseitig zu helfen.</p>
</div>
</div>
{% endblock %}
