{% extends "base.html" %}

{% block heading %}Missbrauch melden{% endblock %}

{% block content %}
<form enctype="multipart/form-data" action="{% url main.views.hardwareAbuse %}" method="post" class="form-horizontal">{% csrf_token %}
	<div class="control-group {{form.description.css_classes}}">
			<label class="control-label" for="id_caption3">Beschreibung</label>
			<div class="controls">
				{{form.description}}
				<span class="help-inline">{{form.description.errors}}</span>
			</div>
		</div>
	<input type="hidden" name="type" value="main"><button type="submit" class="btn btn-primary">Abschicken</button>
</form>
{% endblock %}
