{% extends "base.html" %}

{% load socialaccount %}
{% load i18n %}

{% block heading %}
Email-Bestätigung
{% endblock %}


{% block content %}
<div class="span12">
{% if success %}
	<p>Deine Emailadresse wurde bestätigt!</p>
{% elif expired %}
	<p>Dein Bestätigungscode ist abgelaufen... sollen wir dir einen Neuen senden oder möchtest du die Emailadresse ändern?</p>
{% else %}
	<p>Dein Bestätigungscode ist ungültig. Sollen wir dir einen Neuen senden oder möchtest du deine Emailadresse ändern?</p>
{% endif %}
</div>
{% endblock %}
