{% extends "base.html" %}

{% load socialaccount %}
{% load i18n %}

{% block heading %}
Account wirklich löschen?
{% endblock %}


{% block content %}
<div class="span12">
<div class="alert alert-error">
Dies ist die letzte bestehende Verknüpfung. Wenn du sie löschst, wird dein kompletter Account bei Hardware für Alle gelöscht.
Sicher das du das tun möchtest?
</div>
<form action="{% url users.views.disconnect %}" method="post" class="form-inline">{% csrf_token %}
		
<a href="{% url users.views.settings %}" class="btn">Nein, doch nicht</a><button type="submit" class="btn btn-danger">Ja, ich bin sicher</button>
</form>
</div>
{% endblock %}
