{% extends "base.html" %}

{% load socialaccount %}

{% block heading %}
Anmelden
{% endblock %}


{% block content %}
<div class="span12">
{% for app in apps %}
	<a href="{% provider_login_url app.provider %}" class="btn btn-success">Mit {{app.provider}} anmelden</a>
{% endfor %}


<div class="row">
	<div class="span6">
		<h3>Mit Passwort anmelden</h3>
<form method="post" action="{% url allauth.account.views.login %}" class="form-horizontal">
{{form.non_field_errors}}
{% csrf_token %}
 <div class="control-group">
<label class="control-label" for="id_login">E-Mail Adresse</label>
<div class="controls">
{{form.login}}{{form.login.errors}}
</div></div>
 <div class="control-group">
<label class="control-label" for="id_password">Passwort</label>
<div class="controls">
{{form.password}}{{form.password.errors}}
</div></div>

<input type="submit" value="Einloggen" class="btn btn-primary" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
</div>


<div class="span6">
	<h3>Neu registrieren</h3>
<form method="post" action="{% url allauth.account.views.signup %}" class="form-horizontal">
{{registerform.non_field_errors}}
{% csrf_token %}
 <div class="control-group">
<label class="control-label" for="id_login">Benutzername</label>
<div class="controls">
{{registerform.username}}{{registerform.username.errors}}
</div></div>
 <div class="control-group">
<label class="control-label" for="id_login">E-Mail Adresse</label>
<div class="controls">
{{registerform.email}}{{registerform.email.errors}}
</div></div>
 <div class="control-group">
<label class="control-label" for="id_password1">Passwort</label>
<div class="controls">
{{registerform.password1}}{{registerform.password1.errors}}
</div></div>
 <div class="control-group" id="passwordrepeat">
<label class="control-label" for="id_password2">Passwort wiederholen</label>
<div class="controls">
{{registerform.password2}}{{registerform.password2.errors}}
</div></div>

<input type="submit" value="Registrieren" class="btn btn-primary" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
</div>
</div>
</div>
{% endblock %}
