{% extends "base.html" %}

{% load socialaccount %}
{% load i18n %}

{% block heading %}
Neue Emailadresse
{% endblock %}


{% block content %}
<div class="span12">
{% if set %}
	<p>Wir haben eine Email mit dem Bestätigungslink an {{user.email}} gesendet. Bitte folge den Anweisungen in der Email und bestätige die Adresse innerhalb von 48 Stunden.</p>
{% elif unfinished %}
	<p>Wir haben dir bereits einen Bestätigungscode geschickt. Bitte benutze zuerst diesen.</p>
{% else %}
	<form action="{% url users.views.newEmail %}" method="post" class="form-horizontal">{% csrf_token %}
	<div class="control-group">
		<label class="control-label {{form.email.css_classes}}" for="id_email">Email</label>
		<div class="controls">
			 {{form.email}}
			<span class="help-inline">{{form.email.errors}}</span>
		</div>
	</div>
		<button type="submit" class="btn btn-primary">E-Mail setzen</button>
</form>
{% endif %}
</div>
{% endblock %}
