{% extends "base.html" %}

{% load socialaccount %}
{% load i18n %}
{% load thumbnail %}


{% block heading %}
{{userprofile.get_profile.displayname}}
{% endblock %}


{% block content %}

	<div class="span3">
		{% if userprofile.get_profile.avatar != None %}<p>
	    	{% thumbnail userprofile.get_profile.avatar "300x300" crop="center" as im %}
	    		    <a data-toggle="lightbox" href="#demoLightbox"><img src="{{ im.url }}" class="img-polaroid"></a>
	    		    {% endthumbnail %}
			    <div class="lightbox fade" id="demoLightbox" style="display: none;">
			    <div class='lightbox-content'>
			    <img src="/images/{{ user.get_profile.avatar }}" class="img-polaroid">
			    </div>
			    </div>
		</p>
		{% endif %}
		{% if userprofile.get_profile.displayLocation %}
		<h4>{{userprofile.get_profile.displayname}} aus {{userprofile.get_profile.location.city}}</h4>

		<p>	{{ map.map }}
		{% endif %}
</p>

	</div>
<div class="span7">
	{% if userprofile.get_profile.displayname != userprofile.username %}<b>Benutzername: {{userprofile.username}}</b>{% endif %}
	<h3>Bedigungslos abzugebende Hardware</h3>
<table class="table  table-bordered table-striped">
		<tr><th>Name</th><th>Typ</th><th>Zustand</th><th>Verfügbarkeit</th></tr>
{% for h in hardware %}
	<tr><td><a href="{% url hardware.views.displayHardware h.id h.name%}">{{h.name}}</a></td>
		<td>{{h.category}}</td>
		<td>{{h.condition}}</td>
<td>{% if hardware.availability == true %}
<span class="badge badge-success"><i class="icon-ok-sign icon-white"></i></span>
{% else %}
<span class="badge badge-important"><i class="icon-remove-sign icon-white"></i></span>
{% endif %}</td>
{% endfor %}</tr>
</table>

</div>
{% endblock %}