{% extends "base.html" %}

{% load socialaccount %}
{% load i18n %}
{% load thumbnail %}
{% load gravatar %}

{% block heading %}
{{userprofile.get_profile.displayname}}
{% endblock %}


{% block content %}

	<div class="span3">
		{% if userprofile.get_profile.mail_confirmed %}
	    	<img src="{% gravatar_url user.email 250 %}" class="img-polaroid">
	    	{% else %}
	    	<img src="{% gravatar_url "" 250 %}" class="img-polaroid">
	    	{% endif %}
		{% if userprofile.get_profile.displayLocation or user.is_staff %}
		<h4>{{userprofile.get_profile.displayname}} aus {{userprofile.get_profile.location.city}}</h4>

		<p>	{{ map.map }}
		{% endif %}
</p>

	</div>
<div class="span7">
	{% if userprofile.get_profile.displayname != userprofile.username %}<b>Benutzername: {{userprofile.username}}</b>{% endif %}
	<div class="pull-right">
	{% for acc in accountlist %}
	<span style="padding-left:10px;"><img src="/static/images/16px/{{acc.get_provider.name}}.png"><a style="padding-left:4px" href="{{acc.get_profile_url}}">{{acc.uid}}</a></span>
	{% endfor %}
</div>
	<h3>Bedigungslos abzugebende Hardware</h3>
<table class="table  table-bordered table-striped">
		<tr><th>Name</th><th>Typ</th><th>Zustand</th><th>Verfügbarkeit</th></tr>
{% for h in hardware %}
	<tr><td><a href="{% url hardware.views.displayHardware h.id h.name%}">{{h.name}}</a></td>
		<td>{{h.category}}</td>
		<td>{{h.condition}}</td>
<td>{% if h.availability %}
<span class="badge badge-success"><i class="icon-ok-sign icon-white"></i></span>
{% else %}
<span class="badge badge-important"><i class="icon-remove-sign icon-white"></i></span>
{% endif %}</td>
{% endfor %}</tr>
</table>

</div>
{% endblock %}