{% extends "base.html" %}

{% load socialaccount %}
{% load i18n %}
{% load thumbnail %}

{% block heading %}
Profil bearbeiten
{% endblock %}

{% block script %}
function checkStreet() {
	if ($("#id_city").val() || $("#id_postcode").val()) {
		$("#id_street").prop('disabled', false);
	} else {
		$("#id_street").val("");
		$("#id_street").prop('disabled', true);
	}
}


checkStreet()
$(function() {
	$("#id_city").keypress(function() {checkStreet()});
	$("#id_postcode").keypress(function() {checkStreet()});
	$("#id_city").change(function() {checkStreet()});
	$("#id_postcode").change(function() {checkStreet()});

	$( "#id_city" ).autocomplete({
		source: function( request, response ) {
			$.ajax({
				url: "http://ws.geonames.org/searchJSON",
				dataType: "jsonp",
				data: {
					featureClass: "P",
					style: "full",
					maxRows: 12,
					country: "DE",
					lang:"de",
					name_startsWith: request.term
				},
				success: function( data ) {
					response( $.map( data.geonames, function( item ) {
						return {
							label: item.name + (item.adminName1 ? ", " + item.adminName1 : ""),
							value: item.name,
							postcode: item.lat
						}
					}));
				}
			});
		},
		minLength: 2,
		select: function( event, ui ) {
			 checkStreet();
		},
		open: function() {
			$( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
		},
		close: function() {
			$( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
		}
	});
});
{% endblock %}

{% block content %}
	<div class="span6">

	<h3>Verbindungen</h3>
	<p>Wenn du Verbindungen zu anderen Seiten herstellst, kannst du dich mit diesen Profilen hier anmelden.</p>
	{% for app in apps %}
		<p>
		{% if app.provider in accountlist %}
			<a href="" class="btn btn-danger">Entferne Verbindung zu {{app.provider}}</a>
		{% else %}
			<a href="{% provider_login_url app.provider %}" class="btn btn-success">Verbinde dein Profil mit {{app.provider}}</a>
		{% endif %}
		</p>
	{% endfor %}

	<h3>Profil</h3>
	<form action="{% url users.views.settings %}" method="post" class="form-inline">{% csrf_token %}
		<div class="control-group {{mform.displayname.css_classes}}">
		<label class="control-label" for="id_displayname">Anzeigename</label>
		<div class="controls">
			<input id="id_displayname" type="text" name="displayname" maxlength="200" value="{{ profile.displayname }}"/>
			<span class="help-inline">{{mform.displayname.errors}}</span>
		</div>
		</div>

	<h3>Mail</h3>
	<p>Trage eine Mail-Adresse ein, damit du Benachrichtigungen über Leihanfragen erhalten kannst.</p>
		<div class="control-group {{mform.email.css_classes}}">
		<div class="controls">
			<input id="id_email" type="text" name="email" maxlength="200" value="{{user.email}}"/>
		<span class="help-inline">{{mform.email.errors}}</span>
		<span>{{mailconfirm}}</span>
		</div>
		</div>
		<input type="hidden" name="type" value="main">
		<p><button type="submit" class="btn btn-primary">Speichern</button></p>
	</form>

	</div>
	<div class="span6">

	<h3>Standort</h3>
<form action="{% url users.views.settings %}" method="post" class="form-inline">{% csrf_token %}
	<div class="control-group {{lform.city.css_classes}}">
		<label class="control-label" for="id_city">Stadt</label>
		<div class="controls">
			<input id="id_city" type="text" name="city" maxlength="200" value="{{ profile.location.city }}"/>
			<span class="help-inline">{{lform.city.errors}}</span>
		</div>
	</div>
	<div class="control-group {{lform.postcode.css_classes}}">
		<label class="control-label" for="id_postcode">Postleitzahl</label>
		<div class="controls">
			<input id="id_postcode" type="text" name="postcode" maxlength="5" value="{{ profile.location.postcode }}"/>
			<span class="help-inline">{{lform.postcode.errors}}</span>
		</div>
	</div>
	<div class="control-group {{lform.street.css_classes}}">
		<label class="control-label" for="id_street">Straße</label>
		<div class="controls">
			<input id="id_street" type="text" name="street" maxlength="200" value="{{ profile.location.street }}"/>
			<span class="help-inline">{{lform.street.errors}}</span>
		</div>
	</div>
	<div class="control-group {{lform.displaylocation.css_classes}}">

		<div class="controls">
			{% if profile.displayLocation %}
				<input type="checkbox" name="displayLocation" id="id_displayLocation" checked/>
			{% else %}
				<input type="checkbox" name="displayLocation" id="id_displayLocation"/>
			{% endif %}
			<span>Ort im meinem öffentlichen Profil anzeigen</span>
			<span class="help-inline">{{lform.displayLocation.errors}}</span>
		</div>
	</div>
		<input type="hidden" name="type" value="location">
		<button type="submit" class="btn btn-primary">Save changes</button>
</form>

{% if showmap %}
	{{ map.map }}
{% endif %}

	</div>
{% endblock %}
