{% extends "base.html" %}

{% load socialaccount %}
{% load i18n %}
{% load thumbnail %}

{% block heading %}
{{userprofile.username}}
{% endblock %}


{% block content %}
{% if user.get_profile.avatar != None %}
{% thumbnail user.get_profile.avatar "200x200" as im %}
    <img src="{{ im.url }}" class="pull-left img-rounded" style="margin-right:30px;">
{% endthumbnail %}
{% endif %}
<h3>hardware</h3>
<ul>
{% for h in hardware %}
	<li><a href="{% url hardware.views.displayHardware h.id h.name%}">{{h.name}}</a></li>
{% endfor %}
</ul>
{% endblock %}
