{% extends "base.html" %}

{% load socialaccount %}
{% load i18n %}
{% load thumbnail %}

{% block heading %}
Settings
{% endblock %}


{% block content %}
<h3>Connections</h3>
<ul class="connectionlist">
	{% for app in apps %}
		<li>
			{% if app.provider in accountlist %}
				<a href="" class="btn btn-danger">Disconnect {{app.provider}}</a>
			{% else %}
				<a href="{% provider_login_url app.provider %}" class="btn btn-success">Connect with {{app.provider}}</a>
			{% endif %}
		</li>
	{% endfor %}
</ul>

<h3>Settings</h3>
{% if user.get_profile.avatar != None %}
asdqweqwe
{% thumbnail user.get_profile.avatar "100x100" crop="center" as im %}
    <img src="{{ im.url }}">
{% endthumbnail %}
{% endif %}
<form enctype="multipart/form-data" action="{% url users.views.settings %}" method="post" class="form-horizontal">{% csrf_token %}
	<div class="control-group">
		<label class="control-label" for="id_avatar">Avatar</label>
		<div class="controls">
			<input id="id_avatar" type="file" name="avatar" maxlength="100000">
			<span class="help-inline">{{mform.avatar.errors}}</span>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="id_email">Email</label>
		<div class="controls">
			<input id="id_email" type="text" name="email" maxlength="200" value="{{user.email}}"/>
			<span class="help-inline">{{mform.email.errors}}</span>
		</div>
	</div>
		<input type="hidden" name="type" value="main">
		<button type="submit" class="btn btn-primary">Save changes</button>
</form>

<h3>Location</h3>
<form action="{% url users.views.settings %}" method="post" class="form-horizontal">{% csrf_token %}
	<div class="control-group">
		<label class="control-label" for="id_city">City</label>
		<div class="controls">
			<input id="id_city" type="text" name="city" maxlength="200" value="{{ profile.location.city }}"/>
			<span class="help-inline">{{lform.city.errors}}</span>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="id_postcode">Postcode</label>
		<div class="controls">
			<input id="id_postcode" type="text" name="postcode" maxlength="5" value="{{ profile.location.postcode }}"/>
			<span class="help-inline">{{lform.postcode.errors}}</span>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="id_street">Street</label>
		<div class="controls">
			<input id="id_street" type="text" name="street" maxlength="200" value="{{ profile.location.street }}"/>
			<span class="help-inline">{{lform.street.errors}}</span>
		</div>
	</div>
	<div class="control-group">
		
		<div class="controls">
			{% if profile.displayLocation %}
				<input type="checkbox" name="displayLocation" id="id_displayLocation" checked/>
			{% else %}
				<input type="checkbox" name="displayLocation" id="id_displayLocation"/>
			{% endif %}
			<span> Display location in profile</span>
			<span class="help-inline">{{lform.displayLocation.errors}}</span>
		</div>
	</div>
		<input type="hidden" name="type" value="location">
		<button type="submit" class="btn btn-primary">Save changes</button>
</form>

{% if showmap %}
	{{ map.map }}
{% endif %}
{% endblock %}
